.amt-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.amt-popUp {
  animation-name: popUp;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.amt-rotate {
  animation-name: rotate;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.amt-growing {
  animation-name: growing;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.amt-shake {
  animation-name: shake;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(2deg);
  }
  2% {
    transform: rotate(-3deg);
  }
  3% {
    transform: rotate(4deg);
  }
  4% {
    transform: rotate(-3deg);
  }
  5% {
    transform: rotate(3deg);
  }
  6% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes growing {
  0% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1.8);
  }
  60% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(4deg) rotateY(4deg);
  }
  20% {
    transform: rotateX(4deg) rotateY(-4deg);
  }
  40% {
    transform: rotateX(-4deg) rotateY(-4deg);
  }
  80% {
    transform: rotateX(-4deg) rotateY(4deg);
  }
  100% {
    transform: rotateX(4deg) rotateY(4deg);
  }
}

@keyframes popUp {
  from {
    transform: translateY(-15px);
    opacity: 0.2;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
