@import "var";
@import "cover";
@import "common";
@import "animate";
@import "icon";
@import "reset";
@import "screen";
@import "button";
@import "../fonts/iconfont";

.index-content {
  padding-bottom: 49px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: px2rem(49px);
  width: 100%;
  background: #fff;
}

/* my list start */
.my-list {
  background: #fff;
  padding-left: $padding-main;
  .list-item {
    display: flex;
    height: px2rem(46px);
    line-height: px2rem(46px);
    background: #fff;
    position: relative;
    padding-right: $padding-main;
    @extend %border-bottom;
    &:last-child:after {
      display: none;
    }
    &:last-child {
      border: none;
    }
  }
  &.my-list-line {
    .list-item {
      &:last-child:after {
        display: block;
      }
    }
  }
  .item-left {
    width: 200px;
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    .item-title {
      width: 150px;
      @extend %text-over;
    }
    .iconfont {
      font-weight: normal;
    }
    .icon-message {
      font-size: 18px;
    }
  }
  .item-right {
    flex: 1 0 auto;
    text-align: right;
    padding-left: 10px;
    font-size: 14px;
    color: $color-tip;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    input {
      background: none;
    }
  }
  .item-arrow {
    width: 15px;
    text-align: right;
    & i {
      position: relative;
      top: 1px;
      font-size: 12px;
      color: $color-tip;
    }
  }
  .head-img {
    margin: px2rem(4px) 0;
    width: px2rem(44px);
    height: px2rem(44px);
    border-radius: 50%;
    background: #fff;
  }
}
/* my list end */

/* step start */
.step-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px $padding-main 48px;
  .step-item {
    width: 93px;
    text-align: center;
    color: $color-border;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: -36px;
      top: 10px;
      width: 72px;
      height: 0;
      border-top: 1px dashed $color-border;
    }
    &:last-child::after {
      display: none;
    }
    &.step-active {
      color: $color-main;
      .step-num {
        border: solid 1px $color-main;
        background-color: $color-main;
        color: #fff;
      }
    }
    &.step-done {
      color: $color-main;
      .step-num {
        border: solid 1px $color-main;
        background-color: $color-main;
        color: #fff;
      }
    }
  }
  .step-num {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border: solid 1px $color-border;
    border-radius: 50%;
  }
  .step-text {
    padding-top: 7px;
    font-size: 12px;
  }
}
.icon-done {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    width: 8px;
    height: 5px;
    border: 1px solid #fff;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
  }
}
/* step end */
/* common start */

.text-black {
  color: #000 !important;
}
.text-main {
  color: $color-main !important;
}
.text-blue {
  color: $color-main !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-yellow {
  color: #e89d0b !important;
}
.text-dim {
  color: #c72c14 !important;
}
.text-white {
  color: #fff !important;
}
.text-sub {
  color: $color-sub !important;
}
.text-gray {
  color: $color-tip !important;
}
.text-tip {
  color: $color-tip !important;
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

.row-country.row-country {
  .col-right {
    span {
      display: inline-block;
      @extend %text-over;
      max-width: 85%;
    }
  }
}
.md-line-bottom {
  position: relative;
  @extend %border-bottom;
  &:last-child {
    border: none !important;
    &:after {
      display: none;
    }
  }
}

.md-item-border {
  @extend %border-bottom;
  &:last-child {
    border-bottom: none;
  }
}

.shadow-bottom {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21) !important;
}

.loading-box {
  padding-top: 40px;
}

.van-nav-bar .icon-share {
  color: #fff;
  font-size: 17px;

  position: relative;
}

.empty-wrap {
  text-align: center;
  padding: px2rem(230px) $padding-main px2rem(50px);
  .icon-empty {
    font-size: 60px;
    color: $color-tip;
  }
  .empty-tip {
    font-size: 14px;
    color: $color-tip;
    margin-top: 19px;
  }
}

.empty-wrap-list {
  padding: px2rem(70px) $padding-main px2rem(50px);
}

.nav-cell-icon {
  .icon-fanhui {
    padding: 10px 5px;
    margin-left: -5px;
  }
  .icon-close {
    position: relative;
    top: 1px;
    padding: 10px 5px;
    margin-left: 2px;
  }
}

.text-empty {
  text-align: center;
  color: $color-tip;
  font-size: 12px;
  padding: 20px $padding-main;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.2s ease-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-img-enter-active,
.fade-img-leave-active {
  transition: 0.26s 0.1s ease-out;
}
.fade-img-enter, .fade-img-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.4s ease-in-out;
}
.slide-fade-leave-active {
  transition: all 0.4s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(80px);
  opacity: 0;
}

.iscroll-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.md-loading.md-loading {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
}

.md-loading.van-loading--black circle {
  stroke: $color-main;
}

.page-bg-my.page-bg-my {
  height: 4.2rem;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5a5a5a;
  z-index: 1;
}

.crop-view {
  display: flex;
  opacity: 0;
  justify-content: center;
  overflow: hidden;
  height: 0;
  canvas {
  }
}
.crop-tip {
  position: fixed;
  bottom: 114px;
  left: 0;
  width: 100%;
  color: #969696;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  z-index: 999;
}

.m-clip-box {
  img {
  }
  .crop-btn-cancel {
    display: none !important;
  }
  .crop-btn-ok {
    background: $color-main !important;
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 49px !important;
    line-height: 49px !important;
    font-size: 17px !important;
  }
}

/* common end */
