.box-btn {
  text-align: center;
  padding: px2rem(36px) 0;
}
.box-btn-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0%;
  z-index: 99;
  padding: 0;
}
.btn.btn.btn {
  width: 135px;
  height: 44px;
  line-height: 44px;
}

.btn-sub.btn-sub.btn-sub {
  border-radius: 0;
  background-color: $color-main;
  color: #fff;
  width: 100%;
  font-size: 17px;
  border: none;
  height: 49px;
  line-height: 49px;

  &.disabled {
    border: none !important;
    background: $color-disabled !important;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

.btn-sub-small.btn-sub-small.btn-sub-small {
  @extend .btn-sub;
  background-color: $color-main;
  border: none;
  color: #fff;
  border-radius: 4px;
  width: 143px;
  height: 40px;
  line-height: 40px;
  transition: 0.1s ease;
  &:active {
    border-width: 0;
  }
}

.btn-small.btn-small.btn-small {
  background-color: $color-main;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  width: 143px;
  height: 40px;
  line-height: 40px;
  transition: 0.1s ease;
  color: #fff;
  &:active {
    border-width: 0;
  }
}

.btn-sub-mini.btn-sub-mini.btn-sub-mini {
  background-color: $color-main;
  color: #fff;
  width: 75px;
  padding: 0 5px;
  height: 27px;
  line-height: 27px;
  border-radius: 13.5px;
  font-size: 14px;
  border: none;
  @extend %text-over;
}

.btn-main.btn-main.btn-main {
  width: 255px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: $color-main;
}

.btn-rect.btn-rect.btn-rect {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border: none;
  border-radius: 4px;
  border-bottom: none;
  background-color: $color-main;
  transition: 0.1s ease;
  &:active {
    border-width: 0;
  }
}

.btn-main-large.btn-main-large.btn-main-large {
  @extend .btn-main;
  width: 100%;
  height: 49px;
  line-height: 49px;
}

.btn-sms.btn-sms {
  min-width: 82px;
  height: 30px;
  line-height: 30px;
  border: none;
  font-size: 16px;
  color: #000;
  padding-left: 12px;
  @extend %border-left;
  &:before {
    display: none;
  }
}
.btn-disabled {
  color: $color-gray !important;
  border-color: #ddd !important;
  &::before {
    display: none !important;
  }
}
