@import "var";

%text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function px2rem($px) {
  $rem: 50px;
  @return ($px/$rem) + rem;
}

@mixin clamp($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
