@import "var";

%text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

%border-left {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: -0.5px;
    top: 50%;
    z-index: 1;
    width: 1px;
    height: 100%;
    transform: translateY(-50%);
    background: linear-gradient(0deg, #ffffff 7%, #dddddd 50%, #ffffff 93%);
  }
}
%border-right {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: -0.5px;
    top: 50%;
    z-index: 1;
    width: 1px;
    height: 100%;
    transform: translateY(-50%);
    background: linear-gradient(0deg, #ffffff 7%, #dddddd 50%, #ffffff 93%);
  }
}
%border-bottom {
  border-bottom: 0.5px solid rgba(150, 150, 150, 0.25) !important;
}
%border-bottom-light {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -0.5px;
    left: 50%;
    z-index: 1;
    height: 1px;
    width: 100%;
    transform: translateX(-50%) scaleY(0.5);
    background-image: linear-gradient(
        90deg,
        #000 0%,
        rgba(150, 150, 150, 0.5) 50%,
        #000 100%
      ),
      linear-gradient(#969696, #969696);
    background-blend-mode: normal, normal;
  }
  &:last-child::after {
    display: none;
  }
}
%border-top {
  border-top: 0.5px solid rgba(150, 150, 150, 0.25) !important;
}
%border {
  border: 0.5px solid rgba(150, 150, 150, 0.25) !important;
}
%border-bottom-dark {
  border-bottom: 1px solid rgba(150, 150, 150, 0.25);
}
%img-wrap {
  position: relative;
  overflow: hidden;
  // background: $color-main;
  border: 0.5px solid rgba(150, 150, 150, 0.25);
  border-radius: 4px;
}
%img-border {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    0deg,
    #969696 0%,
    #dddddd 7%,
    #969696 50%,
    #dddddd 95%,
    #969696 100%
  );
  border-image-slice: 1;
}
%shadow-bottom {
  box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.21);
}
@function px2rem($px) {
  $rem: 50px;
  @return ($px/$rem) + rem;
}
@mixin clamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
