@import "var";

%text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%border-bottom {
  border-bottom: 0.5px solid rgba(150, 150, 150, 0.25) !important;
}

%border-top {
  border-top: 0.5px solid rgba(150, 150, 150, 0.25) !important;
}
%border {
  border: 0.5px solid rgba(150, 150, 150, 0.25) !important;
}

%img-wrap {
  position: relative;
  overflow: hidden;
  // background: $color-main;
  border: 0.5px solid rgba(150, 150, 150, 0.25);
  border-radius: 4px;
}

@function px2rem($px) {
  $rem: 50px;
  @return ($px/$rem) + rem;
}
@mixin clamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
