@import "var";

.van-tab--active {
  color: $color-main !important;
}
.van-tabs__line {
  background-color: $color-main !important;
}
.van-nav-bar.van-nav-bar {
  z-index: 999 !important;
  height: 44px;
  line-height: 44px;
  border-bottom: solid 1px #dddddd;

  .van-nav-bar__title {
    color: #000;
    font-size: 17px;
  }
  .van-nav-bar__text {
    color: rgba(0, 0, 0, 0.5);
  }
  .van-icon.van-icon {
    color: rgba(0, 0, 0, 0.5);
  }
  &.van-hairline--bottom {
    &::after {
      border: none;
    }
  }
  .van-nav-bar__left {
    left: 18px;
  }
}

.nav-content {
  padding-top: 44px !important;
}

.van-toast.van-toast {
  top: initial;
  bottom: 65px;
  min-width: 105px;
  padding: 8px 18px;
  border-radius: 0;
  font-size: 12px;
}

.login-nav.login-nav.login-nav {
  .van-nav-bar__text {
    font-family: PingFang-SC-Bold;
    font-size: 14px;
    color: #000;
  }
}
