$color-main: #eb2000 !default;
$color-sub: #ff9c00 !default;
$color1: #311455 !default;
$color-gray: rgba(0, 0, 0, 0.6) !default;
$color-blue: #305085 !default;
$color-tip: #969696;
$color-border: #969696;
$color-disabled: #a6a6a6;
$color-shade: #eb2000;
$color-yellow: #ecad32;
$color-bg: #ddd;

$padding-main: 0.28rem !default;

$ratio-banner: 57.06%;
